<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta product="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/style.css">
    <title>Document</title>
</head>
<body>
    <% if(session){%>
        <%- include('navbaradmin') %>
        <%}else{%>
            <%- include('navbar') %>
            <%}%>

    <section class="main-container">
        <%- include('sidebar') %>
        <div class="main-content-container">
            <div class="head-main-content">
                <h1>Product List</h1>
            </div>
            <div class="product-content">
                <table class="table-product-content">
                    <tr class="head-product-row">
                        <th>Product</th>
                        <th>Details</th>
                        <th>Price</th>
                        <th>Rating</th>
                    </tr>
                    <% Object.values(product).forEach(function(item){%>
                        <% if(item.catagory == "pencil"){%>
                    <tr class="sub-product-row">
                        <th class="sub-row-product-color"><img class="product-image" src="/image/products/<%= item.image%>" alt=""></th>
                        <th class="sub-row-product-color"><%= item.detail%></th>
                        <th class="sub-row-product-color"><%= item.price%></th>
                        <th class="sub-row-product-color">&#9733; <%= item.rating%></th>
                    </tr>
                    <%}%>
                    <% }) %>
                </table>
            </div>
        </div>
    </section>
</body>
</html>